<template name="loginPage">
  <div class="login-overlay">
    <div class="login-container">
      <h4 class="login-title">Chat Log In</h4>
      <form class="login-form">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="username">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;">
        <input type="checkbox" name="newuser">
        <label class="checkbox-label">New User?</label>
        <button type="submit" class="login-button">
          Log in
        </button>
      </form>
    </div>
  </div>
</template>
